@font-face {
  font-family: "PTF Nordic";
  src: url("assets/fonts/ptf-nordic-rnd-webfont.woff") format("woff");
}

.fredoka {
  font-family: "Fredoka One";
}

.ptf-nordic {
  font-family: "PTF Nordic";
}

.uppercase {
  text-transform: uppercase;
}